$primary-color: #c24b45; // primary color for all components
$btn-primary-color: #1677ff;
$link-color: #c24b45; // link color
$success-color: #52c41a; // success state color
$warning-color: #faad14; // warning state color
$error-color: #f5222d; // error state color
$font-size-base: 14px; // major text font size
$heading-color: #43425D; //rgba(0, 0, 0, 0.85); // heading text color
$text-color: #43425D; //rgba(0, 0, 0, 0.65); // major text color
$text-color-secondary: rgba(0, 0, 0, 0.45); // secondary text color
$disabled-color: rgba(0, 0, 0, 0.25); // disable state color
$border-radius-base: 4px; // major border radius
$border-color-base: #d9d9d9; // major border color
$box-shadow-base: 0 2px 8px rgba(0, 0, 0, 0.15); // major shadow for layers
$white-background: #fff;
$primary-color-gradient: linear-gradient(60deg, #e45b04 0%, #6523b6 90%);
