@import "./base/vars.scss";
@import "./base/theme.scss";

::-webkit-scrollbar {
  display: none;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.ant-table-content {
  overflow-x: auto !important;
}

//mobile table
.ant-descriptions-item-label {
  width: 40%;
}

.change-background {
  background-color: #1890ff;
}

.toggle-background {
  background-color: #43538a;
}

.ant-layout {
  background: #E9EBEC;
}

.ant-layout-footer {
  background: #E9EBEC;
}

.editable-cell {
  position: relative;
}

.editable-cell-value-wrap {
  padding: 5px 12px;
  cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap {
  padding: 4px 11px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
}

//css của sider
.ant-layout-sider {
  // position: fixed;
  width: $slider-width;
  overflow-y: scroll;
  overflow-x: hidden;
  color: #808080;
  background-color: #ffffff;
  box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
  background-image: url("/images/sidebar-bg.png") !important;
  background-repeat: no-repeat;
  background-size: cover !important;
  background-position: 60% 100% !important;

  .ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: #2b2b47;
  }

  .sidebar-btn {
    padding: 4px;
    border: 1px solid #151529;
    margin: 8px;
    border-radius: 20px;
    text-align: center;
    color: #151529;
  }

  .sidebar-profile {
    .profile-avatar {
      margin: 0 auto;

      .avatar {
        width: 150px;
        padding: 7px 0px 0px;
      }
    }

    .profile-endLine {
      margin: 8px 0px;
    }
  }
}

//popup account
.ant-popover.ant-popover-placement-bottom {
  max-width: 100% !important;
}

.show-on-hover {
  .show-on-hover-item {
    padding-left: 3px;
    display: inline;
  }

  &:hover .show-on-hover-item {
    display: inline;
  }
}

.card-meta-bot {
  line-height: 2.35;
  border-color: #e0e0e0;

  hr {
    border: none;
    height: 0.1px;
    background-color: #e0e0e0;
  }

  .ant-card-body {
    padding: 12px 24px;
  }

  .ant-card-meta-detail {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    .ant-card-meta-title {
      margin-bottom: 0 !important;
    }

    .ant-card-meta-description {
      font-size: 12px;
    }
  }
}

#admin {
  .dashboard {
    .chart .button-choose {
      text-align: right;
    }

    .table-statistic,
    .chart {
      h4 {
        padding-top: 12px;
        font-size: 28px
      }
    }
  }

  .download {
    .icon img {
      width: 120px;
    }
  }

  .loading {
    text-align: center;
    padding: 12px;
  }

  .input-line {
    width: 80px;
    margin-right: 8px;
  }

  .adjust-hue {
    padding: 0 45%;
  }

  .text-center {
    text-align: center;
  }

  .btn-margin-right {
    margin-right: 8px;
  }

  .btn-margin-left {
    margin-left: 8px;
  }

  .side-bar {
    background: none;

    .ant-menu-sub {
      background: none;
    }
  }

  .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 25px;
    cursor: pointer;
    transition: color 0.3s;
  }

  .trigger:hover {
    color: #1890ff;
  }

  .custom-button:hover {
    background-color: transparent;
    color: black;
    cursor: pointer;
    box-shadow: none !important;
    border: none;
  }

  .custom-button {
    background-color: transparent;
    color: black;
    box-shadow: none !important;
    border: none;
  }

  .logo {
    height: 32px;
    //   background: rgba(255, 255, 255, 0.2);
    background: rgba(200, 200, 200, 0.2);
    margin: 16px;
  }

  .ant-menu-item-group-title {
    i {
      margin-right: 5px;
    }
  }

  .login-status {
    &.description {
      color: $primary-color;

      &.error {
        color: #f00
      }
    }
  }

  // css của header
  .header {
    padding: 0;
    // box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.1);
    // position: relative;
    display: block;
    //justify-content: space-between;
    // height: 72px;
    z-index: 9;
    //align-items: center;
    //background-color: $primary-color;
    background: $white-background;

    &.fixed {
      position: fixed;
      top: 0;
      right: 0;
      width: #{"calc(100% - 256px)"};
      z-index: 29;
      transition: width 0.2s;
    }

    .ant-menu-item-selected {}

    :global {
      .ant-menu-submenu-title {
        height: 72px;
      }

      .ant-menu-horizontal {
        line-height: 72px;

        &>.ant-menu-submenu:hover {
          color: $primary-color;
          background-color: $hover-color;
        }
      }

      .ant-menu {
        border-bottom: none;
        height: 72px;
      }

      .ant-menu-horizontal>.ant-menu-submenu {
        top: 0;
        margin-top: 0;
      }

      .ant-menu-horizontal>.ant-menu-item,
      .ant-menu-horizontal>.ant-menu-submenu {
        border-bottom: none;
      }

      .ant-menu-horizontal>.ant-menu-item-active,
      .ant-menu-horizontal>.ant-menu-item-open,
      .ant-menu-horizontal>.ant-menu-item-selected,
      .ant-menu-horizontal>.ant-menu-item:hover,
      .ant-menu-horizontal>.ant-menu-submenu-active,
      .ant-menu-horizontal>.ant-menu-submenu-open,
      .ant-menu-horizontal>.ant-menu-submenu-selected,
      .ant-menu-horizontal>.ant-menu-submenu:hover {
        border-bottom: none;
      }
    }

    .header-search {
      width: 300px;
      border-radius: 20px;
    }

    .right-container {
      float: right;
      min-width: 150px;

      // max-width: 50%;
      ul {
        background: #fefefe;
      }
    }

    .right-container-Notification {
      position: relative;
      float: right;
      margin-right: 10px;

      ul {
        background: #fefefe;
      }

      .notification-menu {
        background-color: #fff;
        box-shadow: 1px 1px 1px 3px #cbcbcb94;
        overflow-y: auto;
        max-height: 400px;
      }

      .notification-menu-item {
        height: 20px;
        display: flex
      }


      .notification-menu-item-text {
        margin-top: auto;
        margin-bottom: auto;
        max-width: 300px
      }

      .notification-menu-item-row {
        font-weight: 800;
        width: 300px;
        margin-left: 10px
      }

      .notification-flex {
        display: flex;
      }

      .notification-message {
        max-width: 150px;
        margin-right: 30px;
        text-overflow: ellipsis;
        overflow: hidden
      }
    }

    .header-btn {
      color: #fff;
      margin-right: 8px;
      font-weight: bold;
    }

  }

  //main layout
  .backTop {
    right: 50px;

    :global {
      .ant-back-top-content {
        background: $primary-color;
        opacity: 0.3;
        transition: all 0.3s;
        box-shadow: 0 0 15px 1px rgba(69, 65, 78, 0.1);

        &:hover {
          opacity: 1;
        }
      }

    }
  }

  .text-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .main-layout {
    // margin-left: calc($slider-width + 0px);
    min-height: calc(100vh);

    &.collapsed {
      margin-left: 0px;
    }

    .breadcumb-right {
      float: right;
      background: rgba(255, 255, 255, 0.3);
      padding: 15px 20px;
      border-radius: 50px;
    }

    .breadcumbs {
      background: $primary-color-gradient;
      padding: 16px 32px 100px;
      border-bottom: solid 1px #f3f3f3;

      * {
        color: #fff !important;
      }
    }

    .scheduleCard {
      max-width: 768px;
      margin: auto;
    }

    &>.content {
      background: #fff;
      padding: 24px;
      margin: -80px 32px 8px;
      border-radius: 4px;
      box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
      //height: 100vh;

      &.transparent {
        background: transparent;
        padding: 0px;
        box-shadow: none;
      }
    }

    &>.content_QnA {
      background: #fff;
      // padding: 24px;
      margin: -80px 32px 8px;
      border-radius: 4px;
      box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
      //height: 100vh;

      &.transparent {
        background: transparent;
        padding: 0px;
        box-shadow: none;
      }
    }

    &>.fix-content {
      background: #fff;
      padding: 24px;
      // margin: -80px 32px 8px;
      border-radius: 4px;
      box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
      //height: 100vh;

      &.transparent {
        background: transparent;
        padding: 0px;
        box-shadow: none;
      }
    }

    .whiteBox {
      background: #fff;
      padding: 16px;
      border-radius: 4px;
      box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
    }
  }

  .btn-top {
    margin-bottom: 16px;
    margin-right: 8px;
  }

  .btn-color-create {
    background-color: #1a6675;
    color: #fff;
  }

  .btn-color-create:hover {
    border: #352383;
  }

  .btn-right {
    float: right;
    position: relative;
    z-index: 1;
    margin-bottom: 16px;
  }

  .btn-margin-right {
    margin-right: 8px;
  }

  .ant-form-item {
    .ant-form-item {
      margin-bottom: 0px !important;
    }
  }

  .footer {
    text-align: right;
    color: #000;
  }

  /** test**/
  .submit-test {
    text-align: center
  }

  .boder-table {
    border: 1px solid #ccc;
    padding: 10px 10px 10px 10px;
  }

  .test {
    margin-right: 20px;
    float: left;
  }

  .listImages {
    display: flex;
  }

  .rowItem {
    display: flex;
    align-items: center
  }

  .imageItem {
    margin-left: 25px;
  }

  .ant-affix {
    .countdown-top {
      background: linear-gradient(45deg, #f5cb09 0%, #fce997 60%);
      box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.1);
      position: fixed;
      width: 100%;
      left: 0px;
      padding: 20px;
      color: #333;
      font-size: 16px;
      font-weight: bold;
      text-align: center;
    }
  }
}

.mixsetProductTable {
  cursor: pointer;

  .row-selected {
    background-color: #e4e1e1;

    &:hover {
      //background-color: #e4e1e1;

      td {
        background-color: transparent !important;
      }
    }
  }
}

.remove {
  opacity: 0.4;
}

.selectedImage {
  position: relative;

  .closeBtn {
    margin-bottom: 20px;

    span {
      font-size: 18px;
      color: #b90c00;
      background-color: #fff;
      border-radius: 50%;
    }
  }
}

// ant-btn-primary
.ant-btn-primary {
  color: #f7f7f7;
  background-color: $btn-primary-color;
  border-color: $btn-primary-color;
}

.container {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.button-text {
  background-color: white;
  color: white;
  font-size: 25px;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
}

.button-text:focus {
  outline: none;
}

.hover-button:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media (max-width: 992px) {
  .ant-layout-sider {
    height: 100%;
  }
}

.display-flex {
  display: flex;
}

// dashboard 
.button-start-dashboard {
  color: #000;
  height: 40px;
  border-color: #0AB39C;
  background: #0AB39C;
  width: 100%;
}

.button-stop-dashboard {
  color: #000;
  height: 40px;
  border-color: #F06548;
  width: 100%;
  background: #F06548;
}

.button-reset-dashboard {
  color: #000;
  height: 40px;
  border-color: rgba(0, 0, 0, 0.25);
  background: rgba(0, 0, 0, 0.25);
  width: 100%;
}

.button-start-dashboard:hover {
  color: #ffffff !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
  border-color: rgb(0, 0, 0) !important;
}

.button-stop-dashboard:hover {
  color: #ffffff !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
  border-color: rgb(0, 0, 0) !important;
}

:where(.css-dev-only-do-not-override-htwhyh).ant-btn-default:not(:disabled):hover {
  color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-color: rgb(0, 0, 0);
  // background-color: #000;
}

.button-reset-dashboard:hover {
  color: #ffffff !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
  border-color: rgb(0, 0, 0) !important;
}

.full-char-dashboard {
  display: flex;
}

.char-dashboard {
  width: 50%;
}

@media (max-width: 1467px) {
  .full-char-dashboard {
    display: flex;
    flex-direction: column;
  }

  .char-dashboard {
    width: 100%;
  }
}

.image-chart {
  display: flex;
  margin: auto;
  width: 590px;
  height: 346px;
  background-image: url('/Image/chart.png');
  background-repeat: no-repeat;
  background-size: 573px 485px;

  .image-chart-border {
    display: flex;
    margin-top: auto;
    justify-content: center;
    width: 100%;

    .size-chart {
      width: 110px;
      height: 310px;
      background-color: #fff;
    }
  }
}

.title-card {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.uploadExcelCard {
  height: 250px;
  width: 100%;
  position: relative;
  border-radius: 4px;
  overFlow: hidden;
  border: 1px solid;
  border-color: #c2c2c2;

  &:hover {
    background-color: #ececec;
    cursor: pointer;
  }
}

.uploadExcelCardWrap {
  position: absolute;
  width: 100%;
  text-align: center;
  height: 100%;
}

.uploadExcelCardEmpty {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.uploadExcelHolderImg {
  width: 30%;
  max-height: 30%;
  margin-bottom: 10px;
}

.uploadExcelImg {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.uploadExcelError {
  border-color: red;
  color: red;
}

.uploadExcelSuccess {
  border-color: rgb(44, 228, 105);
  color: rgb(44, 228, 105);
}

@import "./admin-max-md.scss";
@import "./admin-max-xs.scss";